html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0%;
}


#header {
	height: 30px;
	background-color: #F1F1F1;
	display: block;
	width: 100%;
}

#logoutButton {
	float: right;
	background-color: #00649F;
	width: 8%;
	height: 100%;
	margin:0px;
	color: white;
	font-size: 14px;
	border: none;
}

#nowLoginSID {
	float: right;
	font-size: 14px;
	margin-right: 1%;
	margin-top: 4px;
}

#studentMenu {
	width: 240px;
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #F1F8FC;
	color: #00649F;
	cursor: pointer; 
}
ul {
	background-color: #F1F8FC;
	color: #00649F;
	height: 100%;
}
li {
	height: 44px;
	padding: 2px;
	font-size: 14px;
	line-height: 44px;
	vertical-align: middle;
    text-align: left;
    cursor: pointer;
}


#mainArea {
	width: 60%;
	height: 500px;
	margin-left:30%;
	margin-top: 7%;
}

.context {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: white;
	background-color: #00649F;
	text-align: center;
	width:25%;
	border: 1px solid #ADADAD;
	margin-right: -7px;
}

#whitespaceContext {
	margin-top: 5px;
}
#subArea {
	background-color: #F1F1F1;
	overflow: auto;
	width: 100%;
	height: 60%;
}

#inputDepartmentCode {
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	text-align: left;
	vertical-align: middle;
	text-indent: 5px;
	background-color: #F1F1F1;
	border: 1px solid #ADADAD;
	width: 15%;
	float: right;
	margin-right: 10%;
	margin-top: 30px;
	
}