body {
	min-width: 1270px;
	max-width: 1270px;
	min-height: 400px;
	max-height: 400px;
	
}

#header {
	height: 30px;
	background-color: #707070;
	display: block;
	width: 1270px;
}

#logoutButton {
	float: right;
}

#nowLoginSID {
	float: right;
}

#studentMenu {
	width: 200px;
	height: 400px;
	float: left;
	display: line-block;
	background-color: black;
	color: black; 
}