html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0%;
}


#header {
	height: 30px;
	background-color: #F1F1F1;
	display: block;
	width: 100%;
}

#logoutButton {
	float: right;
	background-color: #00649F;
	width: 8%;
	height: 100%;
	margin:0px;
	color: white;
	font-size: 14px;
	border: none;
}

#nowLoginSID {
	float: right;
	font-size: 14px;
	margin-right: 1%;
	margin-top: 4px;
}

#studentMenu {
	width: 240px;
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #F1F8FC;
	color: #00649F;
	 
}
ul {
	background-color: #F1F8FC;
	color: #00649F;
	height: 100%;
}
li {
	height: 44px;
	padding: 2px;
	font-size: 14px;
	line-height: 44px;
	vertical-align: middle;
    text-align: left;
}

#evaluationTable {
	 width:75%;
	 height: 20px;
	 border-collapse: collapse;
	 border: 1px solid #ADADAD;
	 color: #707070;
	 margin-top: 8%;
	 margin-left: 22%;
}
tbody {
	background-color: #F1F1F1;
}
td {
	border-collapse: collapse;
	 border: 1px solid #ADADAD;
	 padding: 4px;
}
tr {
	border-collapse: collapse;
	 border: 1px solid #ADADAD;
}
.request {
	width: 60px;
	height: 26px;
	background-color: #00649F;
	color: white;
	font-size: 12px;
	text-align : center;
	margin-left: 19%;
	margin-top: 1.5px;
	border: 1px;
	border-radius: 5px;
}
#title {
	color: white;
}

/* The Modal (background) */
#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
	top: 0;
	width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: -0.6%;
}

iframe {
	border-width: 0px;
}
